/* ---------------------------------------------------------
                           Varibles
   ---------------------------------------------------------*/

// Common colors
$black: #000;
$white: #fff;
$orange: #ffa500;
$blue: #007fe3;
$light-blue: #15b2ff;
$gray: #464f58;
$dark: #1a1a1a;  //for preloader

// Site colors
$main: #22133E;
$accent: #FFCC00;
//$over: #3D3D3D;

// Fonts
$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $black !default;
$base-background-color: $main !default;   // as $white !default
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;                // 1.6 standart
$base-font-family: 'RobotoRegular', $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $blue;

// Buttons 
$btn-color: $black !default;        // was $white !default
$btn-background: $accent !default;  // was $black !default
$btn-padding: 0.4em 0.7em !default;
$btn-border-radius: 28px;
$btn-font-size: inherit !default;
$btn-font-family: RobotoCondensedBold !default; // was inherit !default

// Forms
$form-element-padding: 8px 17px !default;
$form-element-border-color: #f3f3f3 !default;
$form-element-focus-border-color: $blue !default;
$placeholder-color: #898989 !default;

// Headers
$h1-font-size: 3em !default;
$h2-font-size: 2.5em !default;
$h3-font-size: 20px !default;
$h4-font-size: 19px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: RobotoCondensedLight !default;  // was inherit !default
$headings-color: inherit !default;

$animation-speed: 0.3s;
