/* ---------------------------------------------------------
                            Main
   ---------------------------------------------------------*/

/* Slider */

.slider {
  position: relative;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}

.slide-wrap {         // добавили класс в common.js и задали float, чтобы отобразился слайдер
  float: left;

  &.active {
    .slide-content__header,
    .slide-content__text {
      opacity: 1;
      left: 0;
    }

    .slide-content__img-wrap {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.slide {
  position: relative;
  padding-top: 208px;
  padding-bottom: 110px;
  color: $white;

  @include media("<992px") {
    padding-top: 130px;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $main;
      opacity: .85;
    }
  }

  &-content {
    position: relative;
    z-index: 2;
    padding-top: 80px;

    @include media("<992px") {
      padding-top: 30px;
    }

    @include media("<768px") {
      padding-top: 50px;
    }

    @include media("<480px") {
      padding-top: 20px;
    }

    &__img-wrap {
      padding-top: 12px;
      opacity: 0;
      transform: scale(.8);
      transition: all 1s ease;
      transition-delay: .25s;
    }

    &__img {
      max-width: 100%;
    }

    &__header {
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 1.1875em;

      @include media("<1200px") {
        font-size: 2.5em;
      }

      position: relative;
      left: 100px;
      opacity: 0;
      transition: all 1s ease;

      &:first-line {
        color: $accent;
      }
    }

    &__text {
      padding-bottom: 5px;
      font-family: RobotoLight;
      opacity: .75;

      @include media("<1200px") {
        font-size: 0.8750em;
      }

      position: relative;
      left: 100px;
      opacity: 0;
      transition: all 1.5s ease;
      transition-delay: .15s;
    }
  }
}

.owl-nav {
  position: absolute;
  width: 100%;
  z-index: 2;

  &-wrap {
    position: relative;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 370px;
    font-size: 25px;
    color: $white;

    @include media("<992px") {
      top: 245px;
    }

    @include media("<768px") {
      top: 260px;
    }

    @include media("<480px") {
      top: 230px;
    }
  }

  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }
}

.owl-dots {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 2;
  text-align: center;

  .owl-dot {
    @include size(14px, 14px);
    margin: 0 2px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    background: darken($main, 10%);
    @extend %transition;

    &.active {
      background: $accent;
    }
  }
}

/* s-teaser */

.s-teaser {
  padding: 28px 0 28px;
  background: $main;
  color: $white;
  font-size: 17px;
}

.teaser {
  display: table-row;
  
  &-count {
    @include size(45px, 48px);
    position: relative;
    display: table-cell;
    padding-bottom: 10px;
    
    &__star {
      font-size: 48px;
      color: lighten($main, 10%);
    }

    &__number {
      position: absolute;
      top: 8px;
      width: 95%;
      color: $accent;
      font-size: 22px;
      font-family: RobotoCondensedBold;
      text-align: center;
    }
  }
  &__text {
    padding-left: 15px;
    display: table-cell;
    font-family: RobotoCondensedLight;
    line-height: 20px;
    vertical-align: middle;
    opacity: .28;
  }
}


/* s-services */

.s-services {
  background: #efefef;

  .col-md-3 {
    padding: 0;
  }
}

.services{
  background: $white;
  border: 5px solid $main;
  text-align: center;
  transition: transform 0.5s ease;

  &:hover {
    border: 5px solid $accent;
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, .35) 0 0 32px;
    position: relative;
    z-index: 2;

    .services__image {
      &::before {
        opacity: .7;
      }
    }
    .services__eye {
      opacity: .4;
    }
    .services__stars {
      .fa {
        margin-left: 5px;
        color: $accent;
      }
    }

  }
  
  &__image {
    min-height: 190px;
    position: relative;
    display: block;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      opacity: 0;
      background: $main;
      @extend %transition;
    }

    .services__eye {
      font-size: 30px;
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      @extend %transition;
      opacity: 0;
    }
  }

  &__header {
    margin-top: 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: RobotoCondensedBold;
  }
  
  &__stars {
    color: #b4b4b4;
    font-size: 11px;

    .fa {
      margin-left: 1px;
      @extend %transition;
    }
  }

  &__price {
    font-size: 18px;
    font-family: RobotoBold;
    margin-top: 5px;

    &-tags {
      color: $accent;
    }
    &-number {
      font-size: 1.75em;
    }
  }

  &__button {
    margin: 15px 0 25px;
    padding: 10px 35px;
  }
}

/* s-news */

.universal {
  position: relative;
  padding: 60px 0;
  background-size: cover;
}

.s-news {
  background: $main;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    background: $main;
    opacity: .85;
  }

  .services__header {
    padding: 0 20px;
  }

  .services__button {
    margin: 0 0 22px;
  }
}

@include media(">=992px") {
  .services_wrap {
    padding-top: 30px;
  }
}


.services__header-h2 {
  color: $white;
  line-height: 1.125em;
  margin: 0 0 20px;
  font-family: RobotoCondensedBold;
  font-size: 2.5em;
  float: left;
  margin-right: 20px;
}

.s-news .services__button-main {
  margin: 0 0 30px;
}

.services__text {
  font-size: .9375em;
  padding: 0 20px;
}

.services-news {
  border: 1px solid $white;
  margin: 20px 0;

  &:hover {
    border: 1px solid $white;
    transform: scale(1);
  }
}

/* s-portal */

.s-portal {
  background: #efefef;
  color: $black;
}

.services__header-h2_black {
  color: inherit;
}

.portal {
  border: 4px solid $accent;
  padding: 14px;
  display: block;
  color: inherit;
  background: $white;
  margin: 15px 0;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &__image {
    width: 34px;
    height: auto;
    margin-right: 10px;
    float: left;
  }

  &__text {
    display: block;
    text-transform: uppercase;
    font-family: RobotoCondensedBold;
    line-height: 18px;
    overflow: hidden;
  }
}
